body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ff4d6d;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #ff1e4d;
}

#error {
  color: red;
  margin-top: 10px;
}
.photo {
  width: 100%;
  max-width: 250px;
  border-radius: 20px;
  margin: 10px 0;
}
.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 18px;
    padding: 12px;
  }
}
